:root {
    /* Colours */
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;

  --bs-table-bg: #ab5151!important;

  /* Backgrounds */
  --bg-primary: #0a0a0a;
  --bg-secondary: #121212;
  --bg-tertiary: #1a1a1a;
  --bg-quaternary: #222222;

  /* Buttons */
  --btn-border: #666;
  --btn-primary: #6ea8fe;   /* Soft blue */
  --btn-success: #81c995;   /* Soft green */
  --btn-info: #7dcdd6;     /* Soft cyan */
  --btn-warning: #ffeaa7;  /* Soft yellow */
  --btn-danger: #f28b82;   /* Soft red */

  /* Palette */
  --primary: #43215a;    /* This is used for banner */
  --secondary: #121212;  /* This is used for header, nav-toggle, and sidebar */
  --tertiary: #17a2b8;
  --quaternary: #28a745;

  /* Hover */
  --hover: #1e1e1e;
  --hover-secondary: #2a2a2a;
  --activate: #0a58ca;

  /* Borders */
  --border-primary: #333;
  --border-secondary: #444;
  --border-tertiary: #555;

  /* Signals */
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;

  /* Light and dark */
  --light: #e9ecef;
  --dark: #212529;

  /* Text */
  --text: #e9ecef;
  --btn-text: #000000;
  --text-highlit: #0d6efd;
  --text-lowlit: #adb5bd;
  --link: #0d6efd;

  /* Font */
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}